<form id="register">
  <label for="username" id="username-label">Username</label>
  <input id="username" type="text" placeholder="Username" [formControl]="username" />

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Password" [formControl]="password" />

  <label for="confirm-password">Confirm Password</label>
  <input id="confirm-password" type="password" placeholder="Confirm Password" [formControl]="confirmPassword" />

  <label for="givenName">Given Name</label>
  <input id="givenName" type="text" placeholder="Given Name" [formControl]="givenName" />

  <label for="familyName">Family Name</label>
  <input id="familyName" type="text" placeholder="Family Name" [formControl]="familyName" />

  <button (click)="register()">Register</button>

  <p *ngIf="error">{{error}}</p>
</form>
