<form id="register">
  <mat-form-field appearance="fill">
    <mat-label>
      Username
    </mat-label>
    <label for="username"></label>
    <input matInput id="username" placeholder="Username" [formControl]="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Password
    </mat-label>
    <label for="password"></label>
    <input matInput id="password" type="password" placeholder="Password" [formControl]="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Confirm Password
    </mat-label>
    <label for="confirmPassword"></label>
    <input matInput id="confirmPassword" type="password" placeholder="Confirm Password" [formControl]="confirmPassword">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Given Name
    </mat-label>
    <label for="givenName"></label>
    <input matInput id="givenName" placeholder="Given Name" [formControl]="givenName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Family Name
    </mat-label>
    <label for="familyName"></label>
    <input matInput id="familyName" placeholder="Family Name" [formControl]="familyName">
  </mat-form-field>

  <mat-error *ngIf="error">{{error}}</mat-error>

  <button mat-raised-button color="primary" (click)="register()">Register</button>
</form>
