<form id="register" [formGroup]="registerForm">
  <mat-form-field appearance="fill">
    <mat-label>
      Username
    </mat-label>
    <label for="username"></label>
    <input matInput id="username" placeholder="Username" formControlName="username" [errorStateMatcher]="usernameTakenErrorMatcher">
    <mat-error *ngIf="registerForm.hasError('usernameTaken')">That username has already been taken</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Password
    </mat-label>
    <label for="password"></label>
    <input matInput id="password" type="password" placeholder="Password" formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Confirm Password
    </mat-label>
    <label for="confirmPassword"></label>
    <input matInput id="confirmPassword" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordErrorMatcher">
    <mat-error *ngIf="registerForm.hasError('mismatchingPassword')">Passwords do not match</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Given Name
    </mat-label>
    <label for="givenName"></label>
    <input matInput id="givenName" placeholder="Given Name" formControlName="givenName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Family Name
    </mat-label>
    <label for="familyName"></label>
    <input matInput id="familyName" placeholder="Family Name" formControlName="familyName">
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!registerForm.valid" (click)="register()">Register</button>
</form>
