<mat-card class="container">
  <div class="title">
    <mat-card-title>{{card.name}}</mat-card-title>
    <button mat-icon-button matTooltip="Remove card from deck" label="Remove card from deck" (click)="removeClick()" style="padding: 0 !important;">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-card-subtitle *ngIf="card.variants.length > 0">Variants:</mat-card-subtitle>
  <div *ngFor="let variant of card.variants">
    <mat-card-content>{{variant.text}}</mat-card-content>
  </div>
</mat-card>
