<mat-card class="container">
  <div class="title">
    <mat-card-title>{{card.name}}</mat-card-title>
    <div>
      <button mat-icon-button matTooltip="View card details" label="View card details" (click)="openCardDetails()"
              style="padding: 0 !important;">
        <mat-icon>open_in_new</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Remove card from deck" label="Remove card from deck"
              (click)="removeCardFromDeck()"
              style="padding: 0 !important;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>{{(card.abilities[0].text.length > 400 ? (card.abilities[0].text | slice:0:400) + '...' : (card.abilities[0].text))}}</mat-card-content>
  <mat-card-subtitle *ngIf="card.abilities.length > 1">Plus {{card.abilities.length - 1}}
    more {{card.abilities.length > 2 ? 'abilities' : 'ability'}}</mat-card-subtitle>
</mat-card>
