@import "src/variables";

mat-card {
  margin: 0.5em 0;
  background-color: $background-gray;
}

mat-card-title {
  text-align: center;
}

form {
  margin: 1em 0;
}


mat-form-field {
  width: 100%
}

form button {
  width: 100%;
  padding: 0.5em;
}
