<mat-card id="container">
  <div id="title">
    <mat-card-title>{{card.name}}</mat-card-title>
    <div>
      <button mat-icon-button matTooltip="View Full Card details" label="View Full Card details" (click)="openCardDetails()"
              class="mat-icon-button-center">
        <mat-icon>open_in_full</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Remove Card from Deck" label="Remove Card from Deck"
              (click)="removeCardFromDeck()" class="mat-icon-button-center">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>{{(card.abilities[0].text.length > 400 ? (card.abilities[0].text | slice:0:400) + '...' : (card.abilities[0].text))}}</mat-card-content>
  <mat-card-subtitle *ngIf="card.abilities.length > 1">Plus {{card.abilities.length - 1}}
    more {{card.abilities.length > 2 ? 'abilities' : 'ability'}}</mat-card-subtitle>
</mat-card>
