<div class="container fullscreen">
  <app-header title="Edit Profile" [showUserButtons]="false"></app-header>
  <div class="form-container">
    <form id="profile" *ngIf="user" [formGroup]="profileForm">
      <mat-form-field appearance="fill">
        <mat-label>
          Username
        </mat-label>
        <label for="username"></label>
        <input matInput id="username" placeholder="Username" [value]="user.username" [disabled]="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Given Name
        </mat-label>
        <label for="givenName"></label>
        <input matInput id="givenName" placeholder="Given Name" formControlName="givenName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Family Name
        </mat-label>
        <label for="familyName"></label>
        <input matInput id="familyName" placeholder="Family Name" formControlName="familyName">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!profileForm.valid">Save Changes</button>
        <button mat-raised-button color="warn" (click)="delete()">Delete Account</button>
      </div>
    </form>
  </div>
</div>
