@import "src/variables";

#container {
  background: $lighter-gray;
  border-radius: 0.5rem;
  margin: 1em 0;
  padding: 0.5em;
}

#container:hover {
  background-color: $darker-gray;
}

#title {
  display: flex;
  justify-content: space-between;
}

#title button {
  padding: 0.5em 1em;
}
