<mat-card id="container">
  <div id="title">
    <mat-card-title>{{(deck.name.length > 15 ? (deck.name | slice:0:15) + '...' : (deck.name))}}</mat-card-title>
    <div>
      <button mat-icon-button matTooltip="View Deck" label="View Deck" (click)="selectDeck()"
              class="mat-icon-button-center">
        <mat-icon>open_in_new</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Delete Deck" label="Delete Deck" (click)="deleteDeck()"
              class="mat-icon-button-center">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-subtitle>Cards: {{deck.cardCount}}</mat-card-subtitle>
</mat-card>
