<form id="login" [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>
      Username
    </mat-label>
    <label for="username"></label>
    <input matInput id="username" placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>
      Password
    </mat-label>
    <label for="password"></label>
    <input matInput id="password" type="password" placeholder="Password" formControlName="password">
  </mat-form-field>

  <mat-error *ngIf="error">{{error}}</mat-error>

  <button mat-flat-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
</form>
