<div class="container">
  <div class="title">
    <h2>Your Decks</h2>
    <button (click)="showHideCreateDeckClicked()">{{displayCreateDeck ? '-' : '+'}}</button>
  </div>
  <app-create-deck *ngIf="displayCreateDeck" (deckCreated)="deckCreated($event)"></app-create-deck>
  <div *ngIf="page != null">
    <app-page-controls [page]="page" (goToPage)="changePage($event)"></app-page-controls>
    <div *ngFor="let deck of page.data">
      <app-user-deck-short-item [deck]="deck" [selected]="selectedDeck === deck.id"
                                (deckSelected)="selectDeck(deck.id)" (delete)="deleteDeck($event)"></app-user-deck-short-item>
    </div>
  </div>
</div>
