@import "src/variables";

.container {
  background: $card-background;
  border-radius: 0.5rem;
  margin: 1em 0;
  cursor: pointer;
}

.container:hover {
  background-color: $card-background-dark;
}

.actions {
  text-align: right;
}
