<div id="container" class="fullscreen">
  <div id="header">
    <app-header [title]="headerTitle"></app-header>
  </div>
  <div id="grid">
    <div class="side-drawer">
      <app-deck-drawer [shouldRefresh]="refresh" (deckSelected)="selectDeck($event)"
                       (deckDeleted)="deckDeleted($event)"></app-deck-drawer>
    </div>
    <div id="main-content" class="scrollable-fullscreen-container-with-header">
      <app-deck-card-display *ngIf="showDeck" [deckId]="selectedDeck" [shouldRefresh]="refresh"
                             (deckUpdated)="deckUpdated()"></app-deck-card-display>
      <div *ngIf="!showDeck" id="no-deck-selected-message">
        <h2>Click a deck on the left to start editing</h2>
        <h2><----------------------------------------</h2>
      </div>
    </div>
    <div class="side-drawer" *ngIf="showDeck">
      <app-card-search (cardAdded)="addCard($event)"></app-card-search>
    </div>
  </div>
</div>
