.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background-color: lightgray;
}

.deck-drawer {
  background-color: white;
}

.main-content {
  grid-column-start: 2;
  grid-column: span 3 / span 3;
  background-color: lightgray;
}

.card-drawer {
  background-color: white;
}

.no-deck-selected-message {
  text-align: center;
}
