<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="inputForm" (ngSubmit)="onPositiveClick()">
    <mat-form-field appearance="fill">
      <mat-label>
        {{data.inputLabel}}
      </mat-label>
      <label for="textInput"></label>
      <input matInput id="textInput" placeholder="{{data.inputLabel}}" formControlName="textInput">
    </mat-form-field>
  </form>
</div>

<div id="actions">
  <button mat-flat-button color="warn" type="button" (click)="onCloseClick()">{{data.cancelText}}</button>
  <button mat-flat-button color="primary" type="submit" (click)="onPositiveClick()"
          [disabled]="!inputForm.valid">{{data.positiveText}}</button>
</div>
