@import '~src/variables.scss';

.container {
  // Image from Ryan Quintal on Unsplash (https://unsplash.com/photos/Vp8RnXSnJ6I) under the Unsplash License (https://unsplash.com/license)
  background-image: url("https://images.unsplash.com/photo-1593814681464-eef5af2b0628");
  background-size: cover;
  background-color: #cccccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.whitespace {
  grid-column-start: 1;
  grid-column: span 3 / span 3;
}

.authentication {
  background-color: white;
  border-radius: 0.5em;
  margin: 1em;
  padding: 2em;
  grid-column-start: 4;
  grid-column: span 1 / span 1;
}

.tabs {
  text-align: center;
}

.tab-button {
  padding: 1em 3em 1em 3em;
  font-weight: 700;
  margin: 0 0 2em 0;
}

.tab-button-left {
  border-radius: 0.5em 0 0 0.5em;
}

.tab-button-right {
  border-radius: 0 0.5em 0.5em 0;
}

.tab-button-inactive {
  background: $darker-gray;
  color: black;
}

.tab-button-inactive:hover {
  background-color: $lighter-gray;
}

.tab-button-selected {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.tab-button-selected:hover {
  background-color: $lighter-gray;
}
